# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# my unwanted folders
saves/
logs/

# my unwanted files
usercache.json
usernamecache.json
splash.properties
options.txt